<% include ./partial/header %>
<div class="container"
style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px 0 30px 0;
margin-top: 70px;
width: 40%;


">
  
      <form action="/warden/<%=warden._id%>?_method=PUT" method="POST">
        <div class="row">
          <div class="col">
            <h1 style="text-align:center;">Edit Profile, <%= warden.name%></h1>
            <div class="form-group form-inline">
              <label
                for="name"
                style="width: 200px;
                    display: inline-block;
                    text-align: center;
                    "
                >Name</label
              >
              <input
                class="form-control"
                type="text"
                id="name"
                value="<%= warden.name%>"
                name="warden[name]"
              />
            </div>
            <div class="form-group form-inline">
              <label
                for="username"
                style="width: 200px;
                    display: inline-block;
                    text-align: center;
                    "
                >Username</label
              >
              <input
                class="form-control"
                type="text"
                id="username"
                value="<%= warden.username%>"
                name="warden[username]"
              />
            </div>
            <div class=" form-group form-inline">
              <label for="phonenumber" style="width: 200px;
              display: inline-block;
              text-align: center;
              ">Phone Number</label>
            <input
              class="form-control"
              type="text"
              id="phonenumber"
              value="<%= warden.phonenumber%>"
              name="warden[phonenumber]"
            />
          </div>
          <div class=" form-group form-inline">
              <label for="emailid" style="width: 200px;
              display: inline-block;
              text-align: center;
              ">Email Id</label>
            <input
              class="form-control"
              type="text"
              id="emailid"
              value="<%= warden.emailid%>"
              name="warden[emailid]"
            />
          </div>
            <div class="form-group form-inline">
              <label
                for="hostel"
                style="width: 200px;
                    display: inline-block;
                    text-align: center;
                    "
                >Office</label
              >
              <input
                class="form-control"
                type="text"
                id="hostel"
                value="<%= warden.hostel%>"
                name="warden[hostel]"
              />
            </div>

            <div class="form-group form-inline">
              <label
                for="url"
                style="width: 200px;
                    display: inline-block;
                    text-align: center;
                    "
                >Image-url</label
              >
              <input
                class="form-control"
                type="text"
                id="url"
                value="<%= warden.image%>"
                name="warden[image]"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <div style="text-align: center;">
      <a href="/warden/<%= warden._id%>" >Back</a>
    </div>
    </div>
  </div>
</div>

<% include ./partial/footer %>
