<% include ./partial/header %>
<h2 style="    text-align: center; padding-top: 5%;">
  Extra Guards available for duty.
</h2>
        <table class="content-table"
            style="margin: 50px auto;min-width:400px;width: 90%; box-shadow: 0 0 20px rgba(0,0,0,0.15);">
            <tr
                style="background-color: rgb(9, 1, 19); border-radius: 5px 5px 0 0;overflow: hidden;  color: #ffffff;text-align: left; font-weight: bold;">
                <th>
                    Employee Name
                </th>
                <th>
                    Email Id
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                  No. of days worked
              </th>
              <th>
                Salary
            </th>
            </tr>
            <%employees.forEach(function(employee){%>
                <tr>
                    <td>
                      <%=employee.Name%>
                    </td>
                    <td>
                      <%=employee.EmailId%>
                    </td>
                    <td>
                      <%=employee.ContactNo%>
                    </td>
                    <td>
                      <%=employee.workingdays%>
                    </td>
                    <% var salary=500*employee.workingdays%>
                    <td>
                      <%=salary%>
                    </td>
                </tr>
                <% }) %>

        </table>
       
       
    
    </div>
    <div style="text-align:center">
      <a href="/warden/home" class="btn btn-info btn-sm" style="width: 100px; margin-top: 40px">Back</a>
  </div>



<!-- <form
  action="/warden/<%=warden._id%>/extraemployee"
  method="POST"
  style="margin: 0 auto"
>
  <div class="row">
    <div class="col">
      <h2 style="text-align: center">Register</h2>
      <div class="form-group form-inline">
        <label
          for="name"
          style="width: 200px; display: inline-block; text-align: right"
          >Name</label
        >
        <input
          class="form-control"
          type="text"
          id="name"
          placeholder="name"
          name="name"
          style="float: left; text-align: left"
        />
      </div>
    -->
      <!-- emailid -->
      <!--
      <div class="form-group form-inline">
        <label
          for="emailid"
          style="width: 200px; display: inline-block; text-align: right"
          >Email Id</label
        >

        <input
          class="form-control"
          type="text"
          placeholder="emailid"
          id="emailid"
          name="emailid"
        />
      </div>
      <div class="form-group form-inline">
        <label
          for="emailid"
          style="width: 200px; display: inline-block; text-align: right"
          >Contact No.</label
        >
        <input
          class="form-control"
          type="text"
          placeholder="contact_no"
          id="contactno"
          name="contactno"
        />
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-default btn-block"
          style="color: #fff"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <!-- name -->
<!--
</form> -->

<% include ./partial/footer %>