<% include ./partial/header %>
<form action="/warden/6228f7ce3b00b39f6c88cd36/saveSalary" method="POST" id="savesalary>
    <div class="container">
        <table class="content-table"
            style="margin: 50px auto;min-width:400px;width: 90%; box-shadow: 0 0 20px rgba(0,0,0,0.15);">
            <tr
                style="background-color: rgb(9, 1, 19); border-radius: 5px 5px 0 0;overflow: hidden;  color: #ffffff;text-align: left; font-weight: bold;">
                <th>
                    Employee Name
                </th>
                <th>
                    Department
                </th>

                <th>
                    Email ID
                </th>
                <th>
                    Phone Number
                </th>
                <th>Salary</th>
                <!-- <th></th> -->

            </tr>

            <%students.forEach(function(student){%>
                <tr>
                    <td>
                        <%=student.name%>
                    </td>
                    <td>
                        <%=student.hostel%>
                    </td>
                    <td>
                        <%=student.emailid%>
                    </td>
                    <td>
                        <%=student.phonenumber%>
                    </td>
                    <td><input type="text" id="salary" name="salary"
                            style="border: 2px solid black; border-radius: 8px; text-align: center;"
                            value="<%=student.salary%>" readonly></input></td>
                    <!-- <td><a href="#" class="btn btn-danger btn-sm" style="width: 100px;" name="editsalary"
                        id="editsalary" onclick="editsalary()">Edit</a>
                        <a href="#" class="btn btn-success btn-sm" style="width: 100px; " name="savesalary"
                        id="savesalary">Save</a> -->
                    </td>


                </tr>
                <% }) %>



        </table>
       
        <!-- <div style="text-align: center;">
        <button type="submit" class="btn btn-success btn-sm" style="width: 100px; margin-top: 40px">Save</button>
    </div> -->
    
    </div>
</form>

    <div style="text-align:center">
        <!-- <a href="#" class="btn btn-danger btn-sm" style="width: 100px; margin-top: 40px" name="editsalary"
            id="editsalary" onclick="editsalary()">Edit</a>
        <a href="#" class="btn btn-success btn-sm" style="width: 100px; margin-top: 40px" name="confirmsalary"
            id="confirmsalary" onclick="confirmdata()">Confirm</a> -->
        <a href="/warden/home" class="btn btn-info btn-sm" style="width: 100px; margin-top: 40px">Back</a>
    </div>
    <!-- <div style="text-align: center;">
            <a href="#" class="btn btn-success btn-sm" style="width: 100px; margin-top: 40px" onclick="savedata()">Save</a>
    </div> -->
    <!-- <form action="/warden/6228f7ce3b00b39f6c88cd36/saveSalary" method="post" id="savesalary">
    <div style="text-align: center;">
        <button type="submit" class="btn btn-success btn-sm" style="width: 100px; margin-top: 40px">Save</button>
    </div>
</form> -->

    <script>
        function editsalary() {
            var fields = document.querySelectorAll("table input[type='text']");
            for (var i = 0; i < fields.length; i++) {
                fields[i].readOnly = false;
            }
            document.getElementById("confirmsalary").style.display = "inline-block";

        }
        // var salary = [];
        function confirmdata() {
            var fields = document.querySelectorAll("table input[type='text']");
            for (var i = 0; i < fields.length; i++) {
                // salary.push(fields[i].value);
                fields[i].readOnly = true;
            }
            // console.log(salary[0],salary[1]);
            document.getElementById("confirmsalary").style.display = "none";
            // document.getElementById("savesalary").style.display = "inline-block";

        }
        
    </script>
    <% include ./partial/footer %>